@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Outfit:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-app-bg: #0c0c0e;
  --color-panel-bg: #141416;
  --color-preview-bg: #111113;
  --color-border-subtle: #27272a; /* zinc-800 */
}

@layer base {
  body {
    @apply bg-app-bg text-zinc-300 overflow-hidden;
  }
}

.timeline-track {
  background-image: linear-gradient(to right, rgba(255,255,255,0.03) 1px, transparent 1px);
  background-size: 50px 100%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full hover:bg-zinc-700;
}
